pycparser==2.21
PyGetWindow==0.0.9
Pygments==2.16.1
PyMsgBox==1.0.9
pyperclip==1.8.2
Pypubsub==4.0.3
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
PySocks==1.7.1
robotframework==6.1
robotframework-pythonlibcore==4.1.2
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==6.1.0
selenium==4.9.1